In [1]:
# Data Manipulation
import os
import pandas as pd
import numpy as np

# Data Visualisation
import matplotlib.pyplot as plt
import seaborn as sns

# ML Regression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

In [2]:
def parse_csv(location):
    with open(os.path.expanduser(location), "r") as file:
        return pd.read_csv(location, sep=",")

def common_snps(exp, out):
    common_snps = set(exp["SNP"]).intersection(set(out["SNP"]))
    return list(common_snps)

In [3]:
df = parse_csv("/Users/guillermocomesanacimadevila/Desktop/TC_GWAS.csv")

In [4]:
df.shape

(8875, 8)

In [5]:
df.head(n=5)

,Unnamed: 0,SNP,Position,Mapped Genes,MAF,Beta,CI,pValue
0,0,rs660240-T,1:109275216,CELSR2,0.215342,0.0407522,[0.029-0.052],2.000000e-12
1,1,rs668948-G,2:21068657,"TDRD15,APOB",0.179767,0.0596676,[0.048-0.072],5.000000e-22
2,2,rs146534110-T,6:160157037,SLC22A1,0.0134888,0.148371,[0.11-0.19],6.000000e-13
3,3,rs117733303-G,6:160501838,LPAL2,0.0178411,0.341533,[0.31-0.38],1.000000e-80
4,4,rs118039278-A,6:160564494,LPA,0.078451,0.276321,[0.26-0.29],1.000000e-200

In [6]:
df = df[["SNP", "Position", "MAF", "Beta", "CI", "pValue"]]
df.shape
df.head(n=5)

,SNP,Position,MAF,Beta,CI,pValue
0,rs660240-T,1:109275216,0.215342,0.0407522,[0.029-0.052],2.000000e-12
1,rs668948-G,2:21068657,0.179767,0.0596676,[0.048-0.072],5.000000e-22
2,rs146534110-T,6:160157037,0.0134888,0.148371,[0.11-0.19],6.000000e-13
3,rs117733303-G,6:160501838,0.0178411,0.341533,[0.31-0.38],1.000000e-80
4,rs118039278-A,6:160564494,0.078451,0.276321,[0.26-0.29],1.000000e-200

In [7]:
df2 = parse_csv("/Users/guillermocomesanacimadevila/Desktop/outcome.csv")

In [8]:
df2.head(n=5)

,Unnamed: 0,riskAllele,pValue,pValueAnnotation,riskFrequency,orValue,beta,ci,mappedGenes,traitName,efoTraits,bgTraits,accessionId,locations,pubmedId,author
0,0,rs7185636-T,2.000000e-08,-,0.8200000000000001,1.0869565,-,[1.05-1.12],IQCK,Alzheimer's disease (late onset),late-onset Alzheimers disease,-,GCST007511,16:19796841,30820047,Kunkle BW
1,1,rs593742-A,7.000000e-09,-,0.7050000000000001,1.0752687,-,[1.05-1.1],"MINDY2-DT,ADAM10",Alzheimer's disease (late onset),late-onset Alzheimers disease,-,GCST007511,15:58753575,30820047,Kunkle BW
2,2,rs2830500-C,3.000000e-08,-,0.692,1.0752687,-,[1.04-1.1],"CYYR1,ADAMTS1",Alzheimer's disease (late onset),late-onset Alzheimers disease,-,GCST007511,21:26784537,30820047,Kunkle BW
3,3,rs4735340-T,9.000000e-08,-,0.524,1.0638298,-,[1.04-1.09],NDUFAF6,Alzheimer's disease (late onset),late-onset Alzheimers disease,-,GCST007511,8:94964023,30820047,Kunkle BW
4,4,rs10467994-T,4.000000e-07,-,0.667,1.0638298,-,[1.04-1.09],SPPL2A,Alzheimer's disease (late onset),late-onset Alzheimers disease,-,GCST007511,15:50716490,30820047,Kunkle BW

In [9]:
df2.shape
print(f"Columns in outcome GWAS: {df2.columns}")

Columns in outcome GWAS: Index(['Unnamed: 0', 'riskAllele', 'pValue', 'pValueAnnotation',
       'riskFrequency', 'orValue', 'beta', 'ci', 'mappedGenes', 'traitName',
       'efoTraits', 'bgTraits', 'accessionId', 'locations', 'pubmedId',
       'author'],
      dtype='object')

In [10]:
df2 = df2.rename(columns = {"riskAllele": "SNP", "riskFrequency": "MAF", 
                            "locations": "Position","mappedGenes": "Mapped Genes",
                            "beta": "Beta", "ci": "CI"})

In [11]:
df2.shape

(3169, 16)

In [12]:
df2 = df2[["SNP", "MAF", "Position", "Mapped Genes", "Beta", "CI", "pValue"]]

In [13]:
df2.head(n=5)

,SNP,MAF,Position,Mapped Genes,Beta,CI,pValue
0,rs7185636-T,0.8200000000000001,16:19796841,IQCK,-,[1.05-1.12],2.000000e-08
1,rs593742-A,0.7050000000000001,15:58753575,"MINDY2-DT,ADAM10",-,[1.05-1.1],7.000000e-09
2,rs2830500-C,0.692,21:26784537,"CYYR1,ADAMTS1",-,[1.04-1.1],3.000000e-08
3,rs4735340-T,0.524,8:94964023,NDUFAF6,-,[1.04-1.09],9.000000e-08
4,rs10467994-T,0.667,15:50716490,SPPL2A,-,[1.04-1.09],4.000000e-07

In [14]:
df2.isna().sum()

SNP             0
MAF             0
Position        0
Mapped Genes    0
Beta            0
CI              0
pValue          0
dtype: int64

In [15]:
print(len([i for i in df2["Beta"] if i == "-"]))

2200

In [16]:
df2 = df2[df2["Beta"] != "-"] # clean Beta column
df2.loc[:, "Beta"] = df2["Beta"].str.replace(" unit decrease", "", regex=False)
df2.loc[:, "Beta"] = df2["Beta"].str.replace(" unit increase", "", regex=False)

In [17]:
df = df[df["MAF"] != "NR"]
df.shape

(5943, 6)

In [18]:
# Checking for common SNPs

In [19]:
print(common_snps(df, df2))
print(len(common_snps(df, df2))) # 23 SNPs are shared in both GWAS

['rs147711004-A', 'rs7412-T', 'rs7254892-A', 'rs429358-T', 'rs41289512-G', 'rs769449-A', 'rs1160983-A', 'rs41290120-A', 'rs75627662-T']
9

### Steps following Exploratory Analysis
##### Find new data for df2 (>7k SNPs ideally)
##### Further cleaning - remove SNPs with Beta or pval == 0
##### Merge both datasets concerning all 23 common SNPs
##### Log normalise pVal too
##### Scale both X and Y Betas between 0
##### Train-Test Split
##### Visualise Linear Regression

In [21]:
cvd_df = parse_csv("/Users/guillermocomesanacimadevila/Desktop/CVD_cleaned.csv")

In [23]:
cvd_df.head(n=5)

,SNP,pValue,MAF,Beta,CI,Position,Mapped Genes
0,rs13030042-T,1.000000e-13,0.4683,0.0,[0.076-0.138],2:201273662,CASP8
1,rs528945713-G,4.000000e-11,0.9995,1.0,[1.92-2.04],7:91931760,"MTERF1,AKAP9"
2,rs1027038-G,1.000000e-18,0.639,0.0,[0.097-0.162],8:126990244,PCAT1
3,rs536787956-G,2.000000e-12,0.9997,4.0,[4.15-4.17],13:69751343,KLHL1
4,rs12678465-G,1.000000e-17,0.6064,0.0,[0.098-0.158],8:126990627,PCAT1

In [22]:
print(cvd_df.dtypes)

SNP              object
pValue          float64
MAF              object
Beta            float64
CI               object
Position         object
Mapped Genes     object
dtype: object

In [29]:
# Convert Beta and Pval into float
df.loc[:, "Beta"] = df["Beta"].str.replace(r"(\d+).*", r"\1", regex=True)
df["Beta"] = df["Beta"].astype(float)

# df["pValue"] = df["pValue"].astype(float)

AttributeError: Can only use .str accessor with string values!

In [30]:
df.dtypes

SNP          object
Position     object
MAF          object
Beta        float64
CI           object
pValue       object
dtype: object

In [33]:
len(common_snps(df, cvd_df))

110

### Transform Beta into -log(Beta) - Scale it

In [ ]:
df["log10(p)"] = -np.log10(df["pValue"])